/* Sans  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* Global values  */

:root {
	/* darks colors  */
	--shaded-grey: rgba(197, 197, 197, 0.316);
	--shaded-black: rgba(0, 0, 0, 0.412);
	/* primary colors  */
	--purple-clr: #965fcc;
	--blue-clr: #1db2e8;
}

/* reset styles  */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* Mobile First  */

body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

/* global sections  */

a {
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	width: 100%;
}

section {
	padding: 4.1rem 1.5rem 1.8rem 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section h2 {
	font-size: 2.2rem;
	font-weight: bold;
	color: var(--purple-clr);
	border-bottom: 1px solid var(--shaded-black);
	padding: 0.5rem;
	text-align: center;
}

section p {
	margin: 1rem 0;
	text-align: center;
}

.sub-title {
	font-size: 1.2rem;
	margin: 0.8rem 0;
}

#navbarNav ul li .active {
	color: var(--blue-clr);
}

/* navbar section  */

#navbarNav {
	justify-content: center;
	width: 100%;
}

#navbarNav a:hover {
	color: var(--purple-clr);
}

/* hero section  */

.hero {
	background-image: url(./imgs/purple_sky.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	z-index: -1;
	overflow: hidden;
}

.hero:before {
	content: '';
	position: absolute;
	background-color: var(--shaded-black);
	width: 100%;
	height: 100%;
	z-index: -2;
	animation: fade 1000ms;
}

.hero img {
	margin-top: 60px;
	animation: grow 1650ms;
	width: 85%;
	z-index: 10;
}

.hero-sub {
	font-size: 1rem;
	padding: 0 2rem;
	color: white;
	text-align: center;
	z-index: 10;
	animation: text-fade-in 200ms;
}

/* about us section  */

.about-us {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
}

/* events section  */

.events {
	background-color: var(--shaded-grey);
}

.btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.event-btn {
	padding: 1rem;
	background-color: var(--purple-clr);
	border: none;
	border-radius: 10px;
	text-align: center;
}

.event-btn a {
	color: white;
}

.right-half {
	display: none;
}

/* follow us section  */

.follow-us-content {
	display: flex;
	flex-direction: row;
	padding: 2.8rem 0 1.5rem 0;
	justify-content: space-around;
}

.follow-us-content .icons {
	padding: 0;
}

.left-side {
	width: 40%;
	display: flex;
	justify-content: center;
}

.left-side ul {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 1.4rem;
}

.left-side ul li {
	margin: 1rem 0;
}

.left-side ul li i:hover {
	color: var(--purple-clr);
}

.right-side {
	display: flex;
	justify-content: center;
	width: 60%;
}

/* questions or concerns section  */

.quest-concern {
	background-color: var(--shaded-grey);
}

.quest-concern form {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
}

.questions-input {
	padding: 0.5rem;
	border-radius: 8px;
	border: 1px solid var(--shaded-grey);
	outline: none;
}

#contactMessage {
	resize: none;
	min-height: 140px;
}

.quest-concern .btn-container {
	padding: 0;
}

.quest-concern .btn-container button {
	padding: 0.5rem;
}

#contactSend {
	transition: all 0.3s ease;
}

#contactSend:hover {
	background-color: var(--blue-clr);
}

.quest-concern form #contactSend {
	width: 100%;
}

/* footer section  */

footer {
	background-image: url(./imgs/pink-waves.png);
	background-position: 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.3rem 1rem 2rem 1rem;
	text-align: center;
	gap: 1.6rem;
	height: 50vh;
}

footer ul {
	display: flex;
	flex-direction: row;
	padding: 0;
}

footer ul li {
	margin: 0 0.7rem;
}

footer ul li a i {
	color: var(--shaded-black);
}

/* media queries  */

/* tablets  */

@media screen and (min-width: 730px) {
	/* global, nav, hero elements  */
	section {
		padding: 4rem 2.8rem 2.8rem 2.8rem;
	}
	section h2 {
		font-size: 2.9rem;
	}

	section p {
		font-size: 1.2rem;
	}

	.sub-title {
		font-size: 1.4rem;
	}

	#navbarNav a {
		font-size: 1.2rem;
	}

	.hero img {
		width: 55%;
	}

	.hero-sub {
		font-size: 1.5rem;
	}

	.about-us {
		background-image: url(./imgs/aboutMe.svg);
		background-position: 60% 10%;
		background-repeat: no-repeat;
	}

	@keyframes grow {
		0% {
			width: 0%;
		}

		100% {
			width: 55%;
		}
	}
}

/* phone img grow  */

@media screen and (max-width: 730px) {
	@keyframes grow {
		0% {
			width: 0%;
		}

		100% {
			width: 85%;
		}
	}
}

/* animations  */

@keyframes fade {
	0% {
		background-color: transparent;
	}

	100% {
		background-color: var(--shaded-black);
	}
}

@keyframes text-fade-in {
	0% {
		margin-left: -500px;
		visibility: hidden;
	}

	100% {
		margin-left: 0;
		visibility: visible;
	}
}
