/* Sans  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* Global values  */

:root {
	/* darks colors  */
	--shaded-grey: rgba(203, 200, 200, 0.889);
	--shaded-black: rgba(0, 0, 0, 0.468);
	/* primary colors  */
	--purple-clr: #965fcc;
}

/* reset styles  */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* Mobile First  */

body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

/* global sections  */

a {
	text-decoration: none;
}

img {
	width: 100%;
}

section {
	padding: 4.1rem 1.5rem 0 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section h2 {
	font-size: 2.2rem;
	font-weight: bold;
	color: var(--purple-clr);
	border-bottom: 1px solid var(--shaded-grey);
	padding: 0.5rem;
}

section p {
	margin: 1rem 0;
	text-align: center;
}

.sub-title {
	font-size: 1.2rem;
	margin: 0.8rem 0;
}

/* navbar section  */

#navbarNav {
	justify-content: center;
	width: 100%;
}

#navbarNav a:hover {
	color: var(--purple-clr);
}

/* hero section  */

.hero {
	background-image: url(./imgs/purple_sky.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: -1;
}

.hero:before {
	content: '';
	position: absolute;
	background-color: var(--shaded-black);
	width: 100%;
	height: 100%;
	z-index: -2;
	animation: fade 1000ms;
}

.hero img {
	animation: grow 1120ms;
	width: 85%;
}

/* about us section  */

.about-us {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
}

/* events section  */

.btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.event-btn {
	padding: 1rem;
	background-color: var(--purple-clr);
	border: none;
	border-radius: 10px;
	text-align: center;
}

.event-btn a {
	color: white;
}

.right-half {
	display: none;
}

/* follow us section  */



/* media queries  */

@media (max-width: 767px) {
	.custom-navbar .navbar-right {
		float: right;
		padding-right: 15px;
	}
	.custom-navbar .nav.navbar-nav.navbar-right li {
		float: right;
	}
	.custom-navbar .nav.navbar-nav.navbar-right li > a {
		padding: 8px 5px;
	}
	.custom-navbar .navbar-toggle {
		float: left;
	}
	.custom-navbar .navbar-header {
		float: left;
		width: auto !important;
	}
	.custom-navbar .navbar-collapse {
		clear: both;
		float: none;
	}
}

/* animations  */

@keyframes grow {
	0% {
		width: 0%;
	}

	100% {
		width: 85%;
	}
}

@keyframes fade {
	0% {
		background-color: transparent;
	}

	100% {
		background-color: var(--shaded-black);
	}
}
